<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cirius Engineering</title>
        <module href="/components/head.html"></module>
    </head>

    <body>
        <header class="header__pages">
            <module href="/components/navigation.html"></module>
            <div class="jumbotron__about">
                <h1>
                    About
                </h1>
            </div>
            <div class="overlay"></div>
        </header>
        <section class="about-cirius">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-cirius__image">
                            <img src="../images/engineer_2.jpg" alt="Engineer">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about__title">
                            <h1>
                                About Cirius Engineering
                            </h1>
                        </div>
                        <div class="about-ceo__description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>
                                Nisl pretium fusce id velit ut tortor. Lorem sed risus ultricies tristique nulla
                                aliquet
                                enim tortor. Semper eget duis at tellus at urna. Nisl purus in mollis nunc sed id.
                                Quis
                                enim lobortis scelerisque fermentum. Egestas pretium aenean pharetra magna ac
                                placerat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-expertise">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="features__jumbotron">
                            <h3>
                                Our Expertise
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-clipboard-check icon"></i>
                            <h6>
                                Commissioning
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-plug icon"></i>
                            <h6>
                                Electrical Designs, Field Observations, and System Studies
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-bolt icon"></i>
                            <h6>
                                Lightning Protection Design and
                                Risk Assessments
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-charging-station icon"></i>
                            <h6>
                                Power Systems
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-search icon"></i>
                            <h6>
                                Feasability Studies
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-lightbulb icon"></i>
                            <h6>
                                Lighting Consultation and Calculations
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-solar-panel icon"></i>
                            <h6>
                                Sustainable Design – Photovoltaics
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-video icon"></i>
                            <h6>
                                Low Voltage – Audio/Visual, CCTV/CATV, VoIP, Surveillance
                            </h6>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-fire-alt icon"></i>
                            <h6>
                                Fire Alarm Study & Design
                            </h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax"></div>
            <div class="overlay"></div>
        </section>
        <section class="about-ceo">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-sm-1 order-md-2 ">
                        <div class="about-ceo__image">
                            <img src="../images/engineer_1.jpg" alt="Earl Faust">
                        </div>
                    </div>
                    <div class="col-md-6 order-sm-1 order-md-1">
                        <div class="about-ceo__bio">
                            <h1>
                                About The CEO
                            </h1>
                            <div class="about-ceo__description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <p>
                                    Nisl pretium fusce id velit ut tortor. Lorem sed risus ultricies tristique nulla
                                    aliquet
                                    enim tortor. Semper eget duis at tellus at urna. Nisl purus in mollis nunc sed id.
                                    Quis
                                    enim lobortis scelerisque fermentum. Egestas pretium aenean pharetra magna ac
                                    placerat.
                                </p>
                                <p>
                                    Vestibulum lectus mauris. Eu consequat ac felis donec. Quam viverra orci sagittis eu
                                    volutpat. Vitae aliquet nec ullamcorper sit amet risus nullam. Magna fermentum
                                    iaculis
                                    eu non diam. Ut eu sem integer vitae justo eget magna fermentum. Ultricies integer
                                    quis
                                    auctor elit. Nullam non nisi est sit amet facilisis magna. Fringilla urna porttitor
                                    rhoncus dolor purus. Purus in mollis nunc sed id.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <module href="/components/call-to-action.html"></module>
        <module href="/components/footer.html"></module>
        <script src="./bundle.js" defer async></script>
    </body>

</html>