<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cirius Engineering</title>
        <module href="/components/head.html"></module>
    </head>

    <body>
        <header class="header__pages">
            <module href="/components/navigation.html"></module>
            <div class="jumbotron__about">
                <h1>
                    About
                </h1>
            </div>
            <div class="overlay"></div>
        </header>
        <section class="about-cirius">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-cirius__image">
                            <img src="../images/engineer_2.jpg" alt="Engineer">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about__title">
                            <h1>
                                About Cirius Engineering
                            </h1>
                        </div>
                        <!-- <div class="accordian">
                            <div id="mission" class="about-cirius__toggle">
                                <h3>
                                    <a class="accordian__toggle" data-toggle="collapse" href="#collapseMission"
                                        role="button" aria-expanded="false" aria-controls="collapseMission">
                                        Our Mission
                                    </a>
                                </h3>
                                <i class="fas fa-chevron-right about-cirius__chevron"></i>
                            </div>
                            <div class="collapse" id="collapseMission">
                                <div class="card card-body border-0 ">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div> -->
                        <div class="about-ceo__description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>
                                Nisl pretium fusce id velit ut tortor. Lorem sed risus ultricies tristique nulla
                                aliquet
                                enim tortor. Semper eget duis at tellus at urna. Nisl purus in mollis nunc sed id.
                                Quis
                                enim lobortis scelerisque fermentum. Egestas pretium aenean pharetra magna ac
                                placerat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-expertise">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="features__jumbotron">
                            <h3>
                                Our Expertise
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row expertise__row">
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-clipboard-check icon"></i>
                            <h6>
                                Commissioning
                            </h6>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-plug icon"></i>
                            <h6>
                                Electrical Designs, Electrical Field Observations, Electrical System Studies.
                            </h6>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-bolt icon"></i>
                            <h5>
                                Lightning Protection Design, Lightning Protection
                                Risk Assessments
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>


                </div>
                <div class="row expertise__row">
                    <div class="col-md-4">
                        <div class="feature ">
                            <i class="fas fa-charging-station icon"></i>
                            <!-- <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-battery-charging icon"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 9.5a1.5 1.5 0 0 0 0-3v3z" />
                                <path fill-rule="evenodd"
                                    d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z" />
                                <path fill-rule="evenodd"
                                    d="M6.332 4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h2.072l.307-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h3.391l.941-1zM4.45 6H2v4h1.313a1.5 1.5 0 0 1-.405-2.361L4.45 6zm.976 5l-.308 1H6.96l.21-.224h.001l.73-.776H6.53l-.085.09.028-.09H5.426zm1.354-1H5.733l.257-.833H4a.5.5 0 0 1-.364-.843l.793-.843L5.823 6h1.373L5.157 8.167h1.51a.5.5 0 0 1 .478.647L6.78 10zm.69 0h1.374l1.394-1.482.793-.842a.5.5 0 0 0-.364-.843h-1.99L8.933 6H7.887l-.166.54-.199.646A.5.5 0 0 0 8 7.833h1.51L7.47 10zm.725-5H9.24l.308-1H7.706l-.942 1h1.374l.085-.09-.028.09zm2.4-1l-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405zm-.378 6H12V8.02a1.499 1.499 0 0 1-.241.341L10.217 10zM12 6.646V6h-.646a1.5 1.5 0 0 1 .646.646z" />
                            </svg> -->
                            <h6>
                                Emergency Power Systems
                            </h6>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-search icon"></i>
                            <h6>
                                Feasability Studies
                            </h6>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-lightbulb icon"></i>
                            <h5>
                                Lighting Consultation & Calculations
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>


                </div>
                <div class="row expertise__row">
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-solar-panel icon"></i>
                            <h6>
                                Sustainable Design – photovoltaics
                            </h6>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-video icon"></i>
                            <h5>
                                Low Voltage – audio/visual, CCTV/CATV, data/comm, nurse call, SCADA, VoIP, security and
                                video/surveillance
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <i class="fas fa-fire-alt icon"></i>
                            <h5>
                                Fire Alarm Study & Design
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="parallax"></div>
            <div class="overlay"></div>
        </section>
        <section class="about-ceo">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-sm-1 order-md-2 ">
                        <div class="about-ceo__image">
                            <img src="../images/engineer_1.jpg" alt="Earl Faust">
                        </div>
                    </div>
                    <div class="col-md-6 order-sm-1 order-md-1">
                        <div class="about-ceo__bio">
                            <h1>
                                About The CEO
                            </h1>
                            <div class="about-ceo__description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <p>
                                    Nisl pretium fusce id velit ut tortor. Lorem sed risus ultricies tristique nulla
                                    aliquet
                                    enim tortor. Semper eget duis at tellus at urna. Nisl purus in mollis nunc sed id.
                                    Quis
                                    enim lobortis scelerisque fermentum. Egestas pretium aenean pharetra magna ac
                                    placerat.
                                </p>
                                <p>
                                    Vestibulum lectus mauris. Eu consequat ac felis donec. Quam viverra orci sagittis eu
                                    volutpat. Vitae aliquet nec ullamcorper sit amet risus nullam. Magna fermentum
                                    iaculis
                                    eu non diam. Ut eu sem integer vitae justo eget magna fermentum. Ultricies integer
                                    quis
                                    auctor elit. Nullam non nisi est sit amet facilisis magna. Fringilla urna porttitor
                                    rhoncus dolor purus. Purus in mollis nunc sed id.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <module href="/components/call-to-action.html"></module>
        <module href="/components/footer.html"></module>
        <script src="./bundle.js" defer async></script>
    </body>

</html>