<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cirius Engineering</title>
        <module href="/components/head.html"></module>
    </head>

    <body>
        <header class="header__pages">
            <module href="/components/navigation.html"></module>
            <div class="jumbotron__about">
                <h1>
                    About
                </h1>
            </div>
            <div class="overlay"></div>
        </header>
        <section class="about-cirius">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-cirius__image">
                            <img src="../images/engineer_2.jpg" alt="Engineer">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about__title">
                            <h1>
                                About Cirius Engineering
                            </h1>
                        </div>
                        <div class="accordian">
                            <div id="history" class="about-cirius__toggle">
                                <h3>
                                    <a class="accordian__toggle" data-toggle="collapse" href="#collapseHistory"
                                        role="button" aria-expanded="false" aria-controls="collapseHistory">
                                        Our History
                                    </a>
                                </h3>
                                <i class="fas fa-chevron-right about-cirius__chevron"></i>
                            </div>
                            <div class="collapse" id="collapseHistory">
                                <div class="card card-body border-0">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="accordian">
                            <div id="mission" class="about-cirius__toggle">
                                <h3>
                                    <a class="accordian__toggle" data-toggle="collapse" href="#collapseMission"
                                        role="button" aria-expanded="false" aria-controls="collapseMission">
                                        Our Mission
                                    </a>
                                </h3>
                                <i class="fas fa-chevron-right about-cirius__chevron"></i>
                            </div>
                            <div class="collapse" id="collapseMission">
                                <div class="card card-body border-0 ">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="accordian">
                            <div id="vision" class="about-cirius__toggle">
                                <h3>
                                    <a class="accordian__toggle" data-toggle="collapse" href="#collapseVision"
                                        role="button" aria-expanded="false" aria-controls="collapseMission">
                                        Our Vision
                                    </a>
                                </h3>
                                <i class="fas fa-chevron-right about-cirius__chevron"></i>
                            </div>
                            <div class="collapse" id="collapseVision">
                                <div class="card card-body border-0">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-expertise">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Our Expertise</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="fas fa-building icon"></i>
                            <h5>
                                Feature two
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="fas fa-drafting-compass icon"></i>
                            <h5>
                                Feature two
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="fas fa-plug icon"></i>
                            <h5>
                                Feature two
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature">
                            <i class="fas fa-network-wired icon"></i>
                            <h5>
                                Feature two
                            </h5>
                            <p>
                                Gorgeous, high-quality video sharing on desktop, mobile, tablet or more
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax"></div>
            <div class="overlay"></div>
        </section>
        <section class="about-ceo">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-sm-1 order-md-2 ">
                        <div class="about-ceo__image">
                            <img src="../images/engineer_1.jpg" alt="Earl Faust">
                        </div>
                    </div>
                    <div class="col-md-6 order-sm-1 order-md-1">
                        <div class="about-ceo__bio">
                            <h1>
                                About The CEO
                            </h1>
                            <div class="about-ceo__description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <p>
                                    Nisl pretium fusce id velit ut tortor. Lorem sed risus ultricies tristique nulla
                                    aliquet
                                    enim tortor. Semper eget duis at tellus at urna. Nisl purus in mollis nunc sed id.
                                    Quis
                                    enim lobortis scelerisque fermentum. Egestas pretium aenean pharetra magna ac
                                    placerat.
                                </p>
                                <p>
                                    Vestibulum lectus mauris. Eu consequat ac felis donec. Quam viverra orci sagittis eu
                                    volutpat. Vitae aliquet nec ullamcorper sit amet risus nullam. Magna fermentum
                                    iaculis
                                    eu non diam. Ut eu sem integer vitae justo eget magna fermentum. Ultricies integer
                                    quis
                                    auctor elit. Nullam non nisi est sit amet facilisis magna. Fringilla urna porttitor
                                    rhoncus dolor purus. Purus in mollis nunc sed id.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <module href="/components/call-to-action.html"></module>
        <module href="/components/footer.html"></module>
        <script src="./bundle.js" defer async></script>
    </body>

</html>