<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cirius Engineering</title>
        <module href="/components/head.html"></module>
    </head>

    <body>
        <header>
            <nav id="nav" class="navbar navbar-expand-lg fixed-top navbar-dark nav-custom" role="navigation">
                <div class="container-fluid">
                    <a href="index.html" class="navbar-brand">
                        <img class="logo" src="../images/CiriusICONWHITE.png" alt="Cirius Engineering Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Services</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Portfolio</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="jumbotron">
                <img class="header-logo" src="../images/ciriusfulllogo.png" alt="Cirius Full Logo">
                <button class="btn mx-auto btn-custom">
                    Get Started
                </button>
            </div>
            <div class="overlay"></div>
        </header>


        <script src="./bundle.js" defer async></script>
    </body>

</html>