<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cirius Engineering | Portfolio</title>
        <module href="/components/head.html"></module>
    </head>

    <body>
        <module href="/components/gilead-modal.html"></module>
        <module href="/components/oakland-bay-modal.html"></module>
        <module href="/components/new-stanford-hospital-modal.html"></module>
        <module href="/components/ross-modal.html"></module>
        <module href="/components/san-francisco-mta-modal.html"></module>
        <module href="/components/salesforce-tower-modal.html"></module>
        <module href="/components/sf-central-modal.html"></module>
        <module href="/components/levis-stadium-modal.html"></module>
        <header class="header__pages">
            <module href="/components/navigation.html"></module>
            <div class="jumbotron__about">
                <h1>
                    Portfolio
                </h1>
            </div>
            <div class="overlay"></div>
        </header>
        <section class="portfolio-intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-intro__title">
                            <h1>
                                Notable Projects.
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-intro__description">
                            <p>
                                Separated they live in Bookmarksgrove right at the coast of the famous Semantics, large
                                language ocean and many more stuff and more more more Separated they live in
                                Bookmarksgrove right at the coast of the famous Semantics, large language ocean and many
                                more stuff and more more moreSeparated they live in Bookmarksgrove right at the coast of
                                the famous Semantics, large language ocean and many more stuff and more more more
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-entries">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/Gilead.jpg" alt="Gilead">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            Gilead
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#gileadModal">
                                            Read More
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/San Francisco-Oakland Bay Bridge New East Span.jpg"
                                alt="San Francisco Oakland Bay Bridge">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            Oakland Bay Bridge
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#bayBridgeModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/new-stanford-hospital.jpg" alt="">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            New Stanford Hospital
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#stanfordeModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry"><img src="../images/rossstorefront.jpg"
                                alt="Ross Store Front">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            Ross Clothing Store
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#rossModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/SFMTA.jpg" alt="San Francisco MTA">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            San Francisco MTA
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#sfMTAModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/transbay-transit-center-salesforce-tower.jpg"
                                alt="transbay transit center salesforce tower">

                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            Trans Terminal Bay
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#salesforceModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/SF Central Subway.jpg" alt="San Francisco Central Subway">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            San Francisco Central Subway
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#sfCentralModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="portfolio-entries__entry">
                            <img src="../images/LevisStadium49ersSF_1.jpg" alt="Levi's Stadium">
                            <div class="image__overlay">
                                <div class="image__overlay__border"></div>
                                <div class="image__info">
                                    <div class="image__info__content">
                                        <h3>
                                            Levis Stadium
                                        </h3>
                                        <p>
                                            Small description of work.
                                        </p>
                                        <a href="#" data-toggle="modal" data-target="#levisModal">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax"></div>
            <div class="overlay"></div>
        </section>

        <module href="/components/call-to-action.html"></module>
        <module href="/components/footer.html"></module>
        <script src="./bundle.js" defer async></script>
    </body>

</html>