<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cirius Engineering | Portfolio</title>
        <module href="/components/head.html"></module>
    </head>

    <body>

        <header class="header__pages">
            <module href="/components/navigation.html"></module>
            <div class="jumbotron__about">
                <h1>
                    Services
                </h1>
            </div>
            <div class="overlay"></div>
        </header>
        <section class="service-intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-intro__title">
                            <h1>
                                Cirius Engineering Provides The Top Services.
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-intro__description">
                            <p>
                                Cirius Engineering, LLC., combines cutting edge technology and engineering expertise to
                                examine building systems to determine the buildings’ full potential for energy
                                efficiency. Designing a system for sustainability, functionality as well as comfortable
                                with reduced operating costs and carbon footprint will guide our clients to achieve the
                                best ROI while lowering utility risk.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-entries">
            <div class="container">
                <div class="row service-entries__row">
                    <div id="commissioning" class="col-md-2">
                        <div class="service-entry">
                            <div class="service-entry__icon">
                                <i class="fas fa-clipboard-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="service-entry">
                            <div class="service-entry__description">
                                <h3>Commissioning</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row service-entries__row">
                    <div class="col-md-2">
                        <div id="design-build" class="service-entry">
                            <div class="service-entry__icon">
                                <i class="fas fa-drafting-compass"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="service-entry">
                            <div class="service-entry__description">
                                <h3>Design Build Support</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row service-entries__row">
                    <div id="energy-analysis" class="col-md-2">
                        <div class="service-entry">
                            <div class="service-entry__icon">
                                <i class="fas fa-lightbulb"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="service-entry">
                            <div class="service-entry__description">
                                <h3>Energy Analysis</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row service-entries__row">
                    <div id="sustainability" class="col-md-2">
                        <div class="service-entry">
                            <div class="service-entry__icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="service-entry">
                            <div class="service-entry__description">
                                <h3>Sustainability</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="parallax"></div>
                <div class="overlay"></div>
        </section>

        <module href="/components/call-to-action.html"></module>
        <module href="/components/footer.html"></module>
        <script src="./bundle.js" defer async></script>
    </body>

</html>