*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Helvetica Neue", sans-serif;
  font-display: swap;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Helvetica Neue", sans-serif;
  background-color: $tertiary;
  color: $secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: 0.1s linear;

  &:hover {
    color: $primary;
  }
}

p {
  // margin: 1rem 0;
  line-height: 1.4em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,
h2 {
  // margin-bottom: 1rem;
  max-width: 100%;
  line-height: 1.1em;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  // letter-spacing: .5px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(38, 34, 37, .60);
  z-index: -1;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -2;
  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
