header {
  height: 100vh;
  background-image: url("../images/header-image__home.jpg");
  background-position: center;
  background-size: cover;
  color: $tertiary;
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-custom {
    height: 100px;
    background: $transparent;
    transition: all 0.3s;
    @include media-breakpoint-up(sm) {
      height: 120px;
    }
    .navbar-nav {
      .nav-link {
        color: $tertiary;
      }
    }
    .navbar-collapse-custom {
      background: $gunmetal;
      @include media-breakpoint-up(md) {
        background: $transparent;
      }
    }

    .navbar-toggler {
      border: 0 solid transparent;
      color: white;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .nav-scrolling {
    height: 70px;
    background: $gunmetal;
    transition: all 0.3s;
    @include media-breakpoint-up(sm) {
      height: 95px;
    }
    .navbar-nav {
      .nav-link {
        color: $tertiary;
      }
    }
  }

  .nav-expanded {
    background: $gunmetal;
  }

  .jumbotron {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header-logo {
      width: 250px;
      margin-bottom: 35px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 40px;
        width: 300px;
      }
      @include media-breakpoint-up(md) {
        margin-bottom: 40px;
        width: 400px;
      }
    }
    .btn-custom {
      background: $primary;
      width: 120px;
      color: white;
      &:hover {
        background: $primaryHover;
      }
      @include media-breakpoint-up(sm) {
        width: 130px;
      }
    }
  }
}

.logo {
  width: 40px;
  @include media-breakpoint-up(sm) {
    margin-left: 10px;
    width: 50px;
  }
  @include media-breakpoint-up(md) {
    margin-left: 20px;
    width: 60px;
  }
}

.about__CTA {
  padding: 60px 0;
  color: $secondary;
  .tagline {
    height: 24px;
    width: 255px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .section__title {
    height: 96px;
    width: 445px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .subtitle {
    height: 72px;
    width: 445px;
    color: $secondary;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    margin: 0;
  }
}

.custom-carousel {
  min-height: 384px;
  .carousel-item {
    img {
      max-height: 346px;
    }
  }
}

.carousel-indicators-custom {
  bottom: -8px;
  li {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: black;
  }
}
