header {
  height: 100vh;
  background-image: url("../images/header-image__home.jpg");
  background-position: center;
  background-size: cover;
  color: $tertiary;
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-custom {
    height: 100px;
    background: $transparent;
    transition: all 0.3s;
    @include media-breakpoint-up(sm) {
      height: 120px;
    }
    .navbar-nav {
      .nav-link {
        color: $tertiary;
      }
    }
    .navbar-collapse-custom {
      background: $gunmetal;
      @include media-breakpoint-up(md) {
        background: $transparent;
      }
    }

    .navbar-toggler {
      border: 0 solid transparent;
      color: white;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .nav-scrolling {
    height: 70px;
    background: $gunmetal;
    transition: all 0.3s;
    @include media-breakpoint-up(sm) {
      height: 95px;
    }
    .navbar-nav {
      .nav-link {
        color: $tertiary;
      }
    }
  }
  .nav-expanded {
    background: $gunmetal;
  }
  .jumbotron {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header-logo {
      width: 250px;
      margin-bottom: 35px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 40px;
        width: 300px;
      }
      @include media-breakpoint-up(md) {
        margin-bottom: 40px;
        width: 400px;
      }
    }
    .btn-custom {
      background: $primary;
      width: 120px;
      color: white;
      &:hover {
        background: $primaryHover;
      }
      @include media-breakpoint-up(sm) {
        width: 130px;
      }
    }
  }
}

.logo {
  width: 40px;
  @include media-breakpoint-up(sm) {
    margin-left: 10px;
    width: 50px;
  }
  @include media-breakpoint-up(md) {
    margin-left: 20px;
    width: 60px;
  }
}

.about__CTA {
  padding: 60px 0px;
  color: $secondary;
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 60px 10px;
    text-align: left;
  }
  @include media-breakpoint-up(md) {
    padding: 60px 20px;
    text-align: left;
  }
  @include media-breakpoint-up(md) {
    padding: 60px 40px;
    text-align: left;
  }
  .tagline {
    height: 24px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 24px;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.1px;
      line-height: 20px;
    }
  }
  .section__title {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 30px;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 445px;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    @include media-breakpoint-up(lg) {
      height: 96px;
      width: 100%;
      max-width: 445px;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 48px;
      margin-bottom: 10px;
    }
  }
  .subtitle {
    width: 100%;
    color: $secondary;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    margin: 0;
    @include media-breakpoint-up(md) {
      height: 72px;
      width: 100%;
      max-width: 445px;
      color: $secondary;
      font-size: 16px;
      letter-spacing: 0.1px;
      line-height: 20px;
      margin: 0;
    }
    @include media-breakpoint-up(lg) {
      height: 72px;
      width: 100%;
      max-width: 445px;
      color: $secondary;
      font-size: 16px;
      letter-spacing: 0.1px;
      line-height: 24px;
      margin: 0;
    }
  }
  .btn-custom {
    background: $primary;
    width: 120px;
    color: white;
    margin-top: 30px;
    &:hover {
      background: $primaryHover;
    }
    @include media-breakpoint-up(md) {
      width: 130px;
    }
  }
}
.custom-carousel {
  min-height: 384px;
  .carousel-item {
    img {
      max-height: 346px;
    }
  }
}
.carousel-indicators-custom {
  bottom: -8px;
  li {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: black;
  }
}

.features {
  padding: 60px 0px;
  color: white;
  position: relative;
  z-index: -100;
  .feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 255px;
    margin: 0 auto;
    margin-bottom: 40px;
    z-index: 2;
    @include media-breakpoint-up(md) {
      text-align: left;
      margin-bottom: 0;
    }
    .icon {
      margin: 0 auto;
      font-size: 30px;
      color: $primary;
      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
    h5 {
      font-size: 16px;
      margin: 5px 0 8px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
  }
}

.portfolio {
  padding: 65px 0;
  text-align: center;
  .portfolio__jumbotron {
    margin: 0 auto 80px;
    @include media-breakpoint-up(md) {
      max-width: 550px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 650px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 750px;
    }
    h1 {
      font-size: 32px;
      font-weight: 700;
      @include media-breakpoint-up(md) {
        font-size: 40px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 56px;
      }
    }
    h2 {
      font-size: 18px;
    }
  }
  .featured__work {
    height: 290px;
    margin-bottom: 20px;
    .photo {
      height: 100%;
      max-height: 290px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      @include media-breakpoint-up(md) {
        max-height: 550px;
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        max-height: 620px;
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-up(md) {
      height: 550px;
    }
    @include media-breakpoint-up(lg) {
      height: 620px;
    }
  }
  .work {
    height: 600px;
    .photo {
      height: 50%;
      max-height: 290px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &:nth-child(1) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-up(md) {
        max-height: 245px;
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }
      @include media-breakpoint-up(lg) {
        max-height: 295px;
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }
    }
    @include media-breakpoint-up(md) {
      height: 520px;
      .photo {
        height: 50%;
        max-height: 295px;
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      height: 620px;
      .photo {
        height: 50%;
        max-height: 295px;
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .btn-custom {
    background: $primary;
    width: 120px;
    color: white;
    margin-top: 30px;
    &:hover {
      background: $primaryHover;
    }
    @include media-breakpoint-up(md) {
      width: 130px;
    }
  }
}

.contact {
  padding: 70px 0;
  text-align: center;
  position: relative;
  // z-index: -2;
  color: $tertiary;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  .contact__headline {
    padding: 10px;
    margin: 0 auto 35px;
    max-width: 475px;
    @include media-breakpoint-up(md) {
      margin: 0 0 35px;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }
  .contact__image {
    height: 100%;
    width: 100%;
    max-height: 290px;
    margin-bottom: 40px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-up(md) {
      max-height: 550px;
      margin-bottom: 0;
    }
  }
  .contact__form {
    max-width: 475px;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
    .btn-custom {
      background: $primary;
      color: white;
      &:hover {
        background: $primaryHover;
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
  }
  .parallax {
    /* The image used */
    background-image: url("../images/header-image__home.jpg");
    z-index: -2;
  }
}

.call-to-action {
  padding: 50px 0;
  background: $gunmetal;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  .call-to-action__logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      justify-content: start;
    }
    img {
      max-width: 100px;
      height: auto;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }
  .call-to-action__headline {
    color: $tertiary;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content: center;
    h5 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
      @include media-breakpoint-up(md) {
        font-size: 22px;
        margin: 0;
      }
      @include media-breakpoint-up(lg) {
        font-size: 30px;
      }
    }
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        font-size: 28px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 36px;
        margin: 0;
      }
    }
  }
  .call-to-action__button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
    .btn-custom {
      background: $primary;
      color: $tertiary;
      width: 160px;
      height: 48px;
      line-height: 35px;
      &:hover {
        background: $primaryHover;
      }
    }
  }
}

.footer {
  padding: 70px 0 60px;
  .footer__logo {
    width: 150px;
    margin: 0 0 15px;
    img {
      width: 100%;
    }
  }
  .footer__caption {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
    p {
      max-width: 600px;
      font-size: 16px;
      font-weight: 500;
      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }
  }
  ul {
    text-align: left;
    color: $primary;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      text-align: right;
      margin: 0;
    }
    .nav-item {
      a {
        color: $secondary;
        padding: .3rem 0rem;
        &:hover {
          color: $primaryHover;
        }
      }
    }
  }
  #address {
    text-align: left;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}
