<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="call-to-action__logo">
                    <img src="../images/CiriusICONWHITE.png" alt="Logo" srcset="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="call-to-action__headline">
                    <h5>
                        Ready to create?
                    </h5>
                    <h2>
                        Let's start a project together.
                    </h2>
                </div>

            </div>
            <div class="col-md-3">
                <div class="call-to-action__button">
                    <a href="contact.html" class="btn btn-outline btn-custom" role="button">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>