<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer__logo">
                    <img src="../images/ciriusfulllogoblack.png" alt="Cirius Logo">
                </div>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="title">Services</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="services.html#commissioning">Commissioning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html#design-support">Design Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html#energy-analysis">Energy Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html#sustainability">Sustainability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html#tech-eval">Tech Evaluations</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="title">Markets We Serve</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html#markets">Affordable Housing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Alternative Energy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Commercial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Data Centers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Healthcare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Historical</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Photocaltaic / Solar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Railway Systems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Retail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Stadiums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#markets">Tenant Improvements</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="title">Resources</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-md-4">
                <p class="title">Contact</p>
                <h6>
                    Headquarters
                </h6>
                <p class="address">
                    27385 Parkside Dr <br>
                    Hayward, CA 94542 <br>
                </p>
                <h6>
                    San Francisco Office (Certified LBE & SBE)
                </h6>
                <p class="address">
                    1485 Bayshore Blvd, Suite 227 <br>
                    San Francisco, CA 94124 <br>
                </p>
                <h6>
                    Email
                </h6>
                <p class="address">
                    efaust@ciriusengineering.com
                </p>

            </div> -->
        </div>
    </div>
    <div class="footer__lower">
        <p>
            © 2019 Cirius Engineering. All right reserved.
        </p>
    </div>
</footer>