<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7 flex-column">
                <div class="footer__logo">
                    <img src="../images/ciriusfulllogoblack.png" alt="Cirius Logo">
                </div>
                <div class="footer__caption">
                    <p>
                        Change the color to match your brand or vision, add your logo, choose the perfect
                        thumbnail, remove the playbar, add speed controls, and more.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <p id="address">
                    27385 Parkside Dr <br>
                    Hayward, CA 94542 <br>
                    info@ciriusengineering.com <br>
                    C: 925.849.0636
                </p>
            </div>
        </div>
    </div>
    <div class="footer__lower">
        <p>
            © 2019 Cirius Engineering. All right reserved.
        </p>
    </div>
</footer>