<!-- Modal -->
<div class="modal fade" id="levisModal" tabindex="-1" aria-labelledby="levisModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__image">
                    <img class="img-fluid" src="../../images/LevisStadium49ersSF_1.jpg" alt="Levis Stadium">
                </div>
                <div class="modal-body__content">
                    <h1>Levis Stadium</h1>
                    <p>
                        Cupertino Electric was the design/build electrical contractor for construction of Levi's
                        Stadium, a new 1.8 million-square-foot NFL stadium for the San Francisco 49ers working for a
                        joint venture of Turner and Devon Construction. In addition to designing and constructing Levi's
                        Stadium's electrical systems, Cupertino Electric also designed and built complex tele/data and
                        Distributed Antennae Systems (DAS), and installed a 375-kilowatt (kW) solar energy system.
                    </p>
                    <p>
                        Cupertino's in-house engineering and BIM teams oversaw and completed the stadium’s electrical
                        design two months ahead of schedule and within the construction budget. Cupertino Electric also
                        designed the stadium’s sports lighting power distribution and control system. In addition to
                        meeting a fast-track schedule, our electrical engineering team completely designed the food
                        service, lighting, branch power, and miscellaneous support systems required for the massive
                        facility.
                    </p>
                    <h3>
                        Location
                    </h3>
                    <p>
                        Los Angeles, CA
                    </p>
                    <h3>
                        Client/Owner
                    </h3>
                    <p>
                        Lorem ipsum
                    </p>
                    <h3>
                        Budget
                    </h3>
                    <p>
                        10 million
                    </p>
                    <h3>
                        Services
                    </h3>
                    <p>
                        Service Name, service name, service name.
                    </p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
</div>