<nav id="nav" class="navbar navbar-expand-md fixed-top navbar-dark px-0 nav-custom navbar-collapse-custom"
    role="navigation">

    <a href="index.html" class="navbar-brand px-3">
        <img class="logo" src="../images/CiriusICONWHITE.png" alt="Cirius Engineering Logo">
    </a>
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-toggler-icon-alternative">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </button>
    <div class="collapse navbar-collapse navbar-collapse-custom" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto px-3">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="portfolio.html" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
    </div>

</nav>