<!-- Modal -->
<div class="modal fade" id="sfCentralModal" tabindex="-1" aria-labelledby="sfCentralModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__image">
                    <img class="img-fluid w-100" src="../../images/SF Central Subway.jpg"
                        alt="San Francisco Central Subway">
                </div>
                <div class="modal-body__content">
                    <h1>San Francisco Central Subway</h1>
                    <p>
                        The Central Subway, Third Street Light Rail - Phase 2 Project, extends the existing SFMTA Light
                        Rail System T-Line service from Fourth and King Streets, north along and under Fourth Street to
                        Market Street, under the BART and Muni Metro tunnels adjacent to Powell Station, and then north
                        along and under Stockton Street to Chinatown Station.
                    </p>
                    <p>
                        The work includes construction of three underground stations at Chinatown, Union Square/Market Street and Yerba Buena/Moscone areas with
                        one surface station at Fourth and Brannan Street in addition to the construction of the systems
                        and track through the tunnels and in the stations.
                    </p>
                    <p>
                        When the Central Subway is completed. Third Line trains will travel mostly underground rom the
                        4th Street Caltrain Station to Chinatown, bypassing heavy traffic on congested 4th Street and
                        Stockton Street.
                    </p>
                    <h3>
                        Location
                    </h3>
                    <p>
                        San Francisco, CA
                    </p>
                    <h3>
                        Client/Owner
                    </h3>
                    <p>
                        City and County of San Francisco Municipal Transportation Agency
                    </p>
                    <h3>
                        Budget
                    </h3>
                    <p>
                        $79 Million
                    </p>
                    <h3>
                        Completion
                    </h3>
                    <p>
                        2021
                    </p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
</div>