<!-- Modal -->
<div class="modal fade" id="sfCentralModal" tabindex="-1" aria-labelledby="sfCentralModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__image">
                    <img class="img-fluid w-100" src="../../images/SF Central Subway.jpg"
                        alt="San Francisco Central Subway">
                </div>
                <div class="modal-body__content">
                    <h1>San Francisco Central Subway</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h3>
                        Location
                    </h3>
                    <p>
                        Los Angeles, CA
                    </p>
                    <h3>
                        Client/Owner
                    </h3>
                    <p>
                        Lorem ipsum
                    </p>
                    <h3>
                        Budget
                    </h3>
                    <p>
                        10 million
                    </p>
                    <h3>
                        Services
                    </h3>
                    <p>
                        Service Name, service name, service name.
                    </p>
                    <h3>
                        Markets
                    </h3>
                    <p>
                        Market Name, market name, market name.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
</div>